
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 

.card-txt{
  display: block;
  color: rgb(63, 63, 63);
  background-color: transparent;
}

.card-txt:hover{
  text-decoration: underline;
}

.list-text{
  color: rgb(255, 255, 255);
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.15) ;
  width:300px;
  height: 55px;
  cursor: pointer;
}

.list-text:hover{
  text-decoration: underline;
}


.close-button{
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  color:black
}

.close-button:hover{
  background-color: rgba(0, 0, 0, 0.13);

}